APP_TIMEZONE=Asia/Jakarta
APP_DEBUG=false

# AnterAja
ANTERAJA_API_URL=https://api.anteraja.id/order/tracking
ANTERAJA_MV=1.2
ANTERAJA_SOURCE=aca_android

# SiCepat
SICEPAT_API_URL=http://api.sicepat.com/customer/waybill
SICEPAT_API_KEY=

# Pos Indonesia
POS_API_URL=https://order.posindonesia.co.id/api/lacak

# NinjaXpress
NINJA_API_URL=https://api.ninjavan.co/id/shipperpanel/app/tracking

# TIKI
TIKI_INFO_URL=https://my.tiki.id/api/connote/info
TIKI_HISTORY_URL=https://my.tiki.id/api/connote/history
TIKI_AUTH_TOKEN=

# LiniTrans
LINITRANS_API_URL=
LINITRANS_API_TOKEN=
LINITRANS_TRACE_API=https://linitransslogistics.com/wp-content/plugins/lds-track-and-trace/api-helper/lds.api.php
LINITRANS_WEB_URL=https://linitransslogistics.com/track-trace

# Lion Parcel
LIONPARCEL_API_URL=https://api-internal-web.thelionparcel.com/v2/track/data
LIONPARCEL_TOKEN=
LIONPARCEL_FALLBACK_URL=https://api-middleware.lionparcel.com/v3/stt/track
LIONPARCEL_FALLBACK_TOKEN=

# SAP Express
SAPX_API_URL=https://track.coresyssap.com/v2/shipment/tracking
SAPX_API_KEY=
SAPX_API_CODE=CSNA
